<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <title>Document</title>



    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
        }

        .form-control{
            margin: 5px;
        }

        .selecionado {
            background-color: rgb(35, 244, 160);
        }

        .negrito {
            font-weight: bold;
        }
    </style>


</head>
<body ng-controller="listaTelefonicaCtrl">
    


    <div class="container jumbotron">
        <h3 ng-bind="titulo"></h3>

        <table class="table table-striped" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr
            ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}"
            ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td ng-bind="contato.nome"></td>
                <td ng-bind="contato.telefone"></td>
                <td ng-bind="contato.operadora.nome"></td>
            </tr>
        </table>
        <hr>
        <form name="contatoForm">

            <input class="form-control" type="text" ng-model="contato.nome" ng-required="true"/>
            <input class="form-control" type="text" ng-model="contato.telefone"/>
            <select
            class="form-control" 
            ng-model="contato.operadora"
            ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>
        <div class="alert alert-danger" ng-show="contatoForm.$invalid">
            Preencha os dados
        </div>
        <button
        class="btn btn-primary btn-block"
        ng-click="adicionarContato(contato)"
        ng-disabled="!contato.nome || !contato.telefone">
            Adicionar contato
        </button>
        <button
        class="btn btn-danger btn-block"
        ng-click="apagarContato(contatos)"
        ng-disabled="!isContatoSelecionado(contatos)">
            Apagar contato
        </button>
    </div>
    <div ng-include="'footer.html'"></div>



    <script>
        angular.module("listaTelefonica", [])
        .controller("listaTelefonicaCtrl", function($scope) {
            $scope.titulo = "Lista Telefonica"

            $scope.contatos = [
                {nome: "Vitor", telefone: 99999999, cor: "blue"},
                {nome: "Ana", telefone: 99988888, cor: "red"},
                {nome: "Maria", telefone: 99997777, cor: "yellow"}
            ]

            $scope.operadoras = [
                {nome: "Oi", codigo: 14, categoria: "Celular"},
                {nome: "Vivo", codigo: 15, categoria: "Celular"},
                {nome: "Tim", codigo: 41, categoria: "Celular"},
                {nome: "GVT", codigo: 25, categoria: "Fixo"},
                {nome: "Embratel", codigo: 21, categoria: "Fixo"},
            ]

            $scope.adicionarContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            }

            $scope.apagarContato = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if (!contato.selecionado) return contato;
                })
            }

            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    return contato.selecionado
                })
            }

            $scope.classe = "selecionado"
        })
    </script>

</body>
</html>
